---
import AboutMe from "../components/AboutMe.astro";
import Courses from "../components/Courses.astro";
import Education from "../components/Education.astro";
import Employers from "../components/Employers.astro";
import PageMeta from "../components/PageMeta.astro";
import PageTitle from "../components/PageTitle.astro";
import TechStack from "../components/TechStack.astro";
import { SITE_TITLE } from "../config";
import PageLayout from "../layouts/PageLayout.astro";

---

<PageLayout>
  <PageMeta title={`Werkervaring | ${SITE_TITLE}`} slot="meta" />
  <section slot="main">
    <PageTitle
      title="Werkervaring"
      subtitle="Algemene informatie over mijzelf en mijn relevante werkervaring als developer."
    />
    <AboutMe></AboutMe>
    <TechStack></TechStack>
    <Employers></Employers>
    <Education></Education>
    <Courses></Courses>
  </section>
</PageLayout>
