---
import PageMeta from "../components/PageMeta.astro";
import { SITE_TITLE } from "../config";
import PageLayout from "../layouts/PageLayout.astro";
import PageTitle from "../components/PageTitle.astro";
import SubTitle from "../components/SubTitle.astro";

// const projects = await readAll({
//   directory: "projects",
//   frontmatterSchema: project,
// });

// const sortedProjects = projects
//   .filter((p) => p.frontmatter.draft !== true)
//   .sort(
//     (a, b) =>
// new Date(b.frontmatter.date).valueOf() -
//       new Date(a.frontmatter.date).valueOf()
//   );
---

<PageLayout>
  <PageMeta title={`Werkervaring | ${SITE_TITLE}`} slot="meta" />
  <section slot="main">
    <PageTitle
      title="Werkervaring"
      subtitle="Algemene informatie over mijzelf en mijn relevante werkervaring als developer."
    />
    <SubTitle subtitle="Over mij"/>
    <p class="mb-3">
      Met een achtergrond in bewegingswetenschappen en elektronica heb ik in
      2017 een intense Java opleiding bij Cegeka gevolgd. Sindsdien, ben ik een full stack
      developer met ondertussen zeven jaar ervaring binnen diverse omgevingen
      (overheid, sociale sector, verzekering sector, landbouw, ..).
    </p>
    <p class="mb-3">
      SAMEN werken is voor mij ‘key’ om kwaliteitsvolle software te bouwen die
      de noden van de klant covert. Verder hecht ik zelf ook veel belang aan
      domain driven design, test driven development (TDD), een devops mindset en
      een goede teamwerking.
    </p>
    <p>
      Als full stack developer (back-end ontwikkeling met Spring en NodeJs ) heb
      ik vooral een sterke interesse in de front-end. Ondanks een grote voorliefde
      voor Angular and reactive programming heb ik mij toch ook al verdiept in
      andere component-based SPA frameworks zoals React en VueJs zodat ik de
      ‘right tool for the job’ kan aanwenden.
    </p>
  

  <SubTitle subtitle="Tech-stack" />
  <div class="flex flex-row gap-4 flex-wrap mb-8 mt-6">
    <img src="../Angular.svg" class="w-16 h-16"/>
    <img src="../React.svg" class="w-16 h-16"/>
    <img src="../vue-js.svg" class="w-16 h-16"/>
    <img src="../Sass.svg" class="w-16 h-16"/>
    <img src="../HTML5.svg" class="w-16 h-16"/>
    <img src="../typescript.svg" class="w-16 h-16"/>
    <img src="../tailwind-css.svg" class="w-16 h-16"/>
  </div>
  <div class="flex flex-row gap-4 flex-wrap mb-8">
    <img src="../NestJS.svg" class="w-16 h-16"/>
    <img src="../NuxtJS.png" class="w-16 h-16"/>
    <img src="../Nodejs.svg" class="w-16 h-16"/>
    <img src="../java.svg" class="w-16 h-16"/>
    <img src="../SpringBoot.svg" class="w-16 h-16"/>
  </div>
  <div class="flex flex-row gap-4 flex-wrap mb-8">
    <img src="../Terraform.svg" class="w-16 h-16"/>
    <img src="../cloudformation.png" class="w-16 h-16"/>
    <img src="../Jenkins.svg" class="w-16 h-16"/>
    <img src="../GithubActions.svg" class="w-16 h-16"/>
    <img src="../BitbucketPipelines.svg" class="w-16 h-16"/>
    <img src="../docker.svg" class="w-16 h-16"/>
    <img src="../aws.svg" class="w-16 h-16"/>
  </div>
  <div class="flex flex-row gap-4 flex-wrap mb-6">
    <img src="../postgresql.svg" class="w-16 h-16"/>
    <img src="../mongodb.svg" class="w-16 h-16"/>
    <img src="../DynamoDB.png" class="w-16 h-16"/>
  </div>
  
  <SubTitle subtitle="Werkgevers" />
  <ul>
    <li>
      <p class="font-semibold">
        Kunlabora<span class="text-text-muted font-light text-sm">
          | Jan 2019 - Aug 2023</span
        >
      </p>
      <p class="text-sm">Full stack developer</p>
    </li>
    <li>
      <p class="font-semibold">
        Cegeka<span class="text-text-muted font-light text-sm">
          | Jan 2017 – Dec 2018</span
        >
      </p><p class="text-sm">Technical software engineer</p>
    </li>
    <li>
      <p class="font-semibold">
        Atos Engineering<span class="text-text-muted font-light text-sm">
          | Juni 2014 – Jan 2017</span
        >
      </p><p class="text-sm">
        Prototyping, analyseren, herstellen van intern ontwikkelde elektronica.
      </p>
    </li>
    <li>
      <p class="font-semibold">
        K.A. Redingenhof<span class="text-text-muted font-light text-sm">
          | Sept 2012 – Juni 2014</span
        >
      </p><p class="text-sm">
        Trainer volleybal 2e en 3e graad ASO en TSO sport alsook 1e graad
        topsport volleybal.
      </p>
    </li>
  </ul>

  <SubTitle subtitle="Opleiding" />
  <ul>
    <li>
      <span class="font-semibold"
        >Cegekaschool | Fullstack developer opleiding</span
      ><span class="text-text-muted text-sm">
        | Cegeka | Jan 2017 – April 2017</span
      >
    </li>
    <li>
      <span class="font-semibold">HBO – Elektronica & Multimedia</span>
      <span class="text-text-muted text-sm"> | Groep T | 2013 – 2016</span>
    </li>
    <li>
      <span class="font-semibold">MSc – L.O. & Bewegingswetenschappen</span
      ><span class="text-text-muted text-sm"> | K.U. Leuven | 2008 – 2012</span>
    </li>
    <li>
      <span class="font-semibold"
        >Ba – Burgerlijk Ingenieur Architectuur
      </span><span class="text-text-muted text-sm">
        | K.U. Leuven | 2007 – 2008</span
      >
    </li>
  </ul>

  <SubTitle subtitle="Cursussen" />
  <ul>
    <li>
      <span class="font-semibold">
        Ionic - Build iOS, Android & Web Apps with Ionic & Angular
        </span>
        <span class="text-text-muted text-sm">
        | Udemy (Academind) | 2023
        </span>
    </li>
    <li>
      <span class="font-semibold">
        Vue, the complete guide
        </span>
        <span class="text-text-muted text-sm">
        | Udemy (Academind) | 2022
        </span>
    </li>
    <li>
      <span class="font-semibold">
        Domain Driven Design
        </span>
        <span class="text-text-muted text-sm">
        | Kunlabora | 2021
        </span>
    </li>
    <li>
      <span class="font-semibold">
        React, the complete guide
        </span>
        <span class="text-text-muted text-sm">
          | Udemy (Academind) | 2020
        </span>
    </li>
    <li>
      <span class="font-semibold">
        NodeJs, the complete guide to build RESTful design
        </span>
        <span class="text-text-muted text-sm">
          | Udemy | 2019
        </span>
    </li>
    <li>
      <span class="font-semibold">
        Oracle Certified Associate, Java SE8
        </span>
        <span class="text-text-muted text-sm">
          | Oracle | 2018
        </span>
    </li>
    <li>
      <span class="font-semibold">
        Angular masterclass
        </span>
        <span class="text-text-muted text-sm">
          | Thoughtram | 2018
        </span>
    </li>
    <li>
      <span class="font-semibold">
        Quality Software Developer
        </span>
        <span class="text-text-muted text-sm">
          | Software Improvement Group | 2018
        </span>
    </li>
    <li>
      <span class="font-semibold">
        Core Spring Training
        </span>
        <span class="text-text-muted text-sm">
          | Pivotal | 2018
        </span>
    </li>
    <li>
      <span class="font-semibold">
        Master Jenkins CI for devops and developers
        </span>
        <span class="text-text-muted text-sm">
          | Udemy | 2017
        </span>
    </li>
    <li>
      <span class="font-semibold">
        Angular, the complete guide
        </span>
        <span class="text-text-muted text-sm">
           | Udemy (Academind) | 2017
        </span>
    </li>
    <li>
      <span class="font-semibold">
        Hands-on Technical DevOps
        </span>
        <span class="text-text-muted text-sm">
           | Cekega | 2017
        </span>
    </li>
    </ul>

</section>

</PageLayout>
