---
import { readAll } from "../lib/markdoc/read";
import { education } from "../lib/markdoc/frontmatter.schema";
import SubTitle from "./SubTitle.astro";

const educations = await readAll({
  directory: "education",
  frontmatterSchema: education,
});

const sortedEducation = educations.sort(
  (a, b) => a.frontmatter.order - b.frontmatter.order
);
---
<SubTitle subtitle="Opleiding" />
<ul>
  {
    sortedEducation
      .map((ed) => ed.frontmatter)
      .map((education) => {
        return (
          <li>
              <span class="font-semibold"> {education.description} </span>
              <span class="text-text-muted text-sm"> | </span>
              <span class="text-text-muted text-sm">{education.institute}</span>
              <span class="text-text-muted text-sm"> | </span>
              <span class="text-text-muted text-sm">{education.period}</span>
          </li>
        );
      })
  }
</ul>
