---
import PageTitle from "../components/PageTitle.astro";
import ContactInfo from "../components/ContactInfo.astro";
import WebsiteInfo from "../components/WebsiteInfo.astro";
---

<section class="h-full">
  <PageTitle
    title="Thomas Vanausloos"
    subtitle="Web Developer. Angular enthousiast. Echtgenoot & vader."
  />
  <section>
    <WebsiteInfo />
  </section>
  <section class="lg:mt-[12rem] max-lg:mt-[8rem] text-xs">
    <ContactInfo />
  </section>
</section>
