  ---
import { SITE_URL } from "../config";
import PageTitle from "../components/PageTitle.astro"
---

<section class="mb-8">
  <PageTitle title="Thomas Vanausloos" subtitle="Web Developer. Angular enthousiast. Husband & father."></PageTitle>
  <div>
    <p class="mb-5">
      Hello! Welcome to my personal website! Here you can find:
      <ul>
        <li>More information about who I am, what I do and how we can work together.</li>
        <li>My personal <a href={`${SITE_URL}/blog`}>blog</a> and notes. Ranging from technical topics to random insights I have had over the years.</li>
        <li>Information about my <a href={`${SITE_URL}/education-and-skills`}>education, skills</a> and my<a href={`${SITE_URL}/projects`}> professional carreer</a>.</li>
      </ul>
    </p>
  </div>
</section>
