  ---
import { SITE_URL } from "../config";
import PageTitle from "../components/PageTitle.astro"
---

<section class="mb-8">
  <PageTitle title="Thomas Vanausloos" subtitle="Web Developer. Angular enthousiast. Husband & father."></PageTitle>
  <div>
    <p class="mb-5">
      Hallo! Welkom op mijn persoonlijke website! Hier kan je volgende informatie terug vinden:
      <ul>
        <li>Meer info over wie ik ben, wat ik doe en hoe we eventueel samen kunnen werken.</li>
        <!-- <li>My personal <a href={`${SITE_URL}/blog`}>blog</a> and notes. Ranging from technical topics to random insights I have had over the years.</li> -->
        <li>Informatie over mijn <a href={`${SITE_URL}/education-and-skills`}>werkervaring</a> en de verschillende<a href={`${SITE_URL}/projects`}> projecten</a> waar ik tot nu toe op gewerkt heb.</li>
      </ul>
    </p>
  </div>
</section>
