---
import { SITE_URL } from "../config";
---

<section class="mb-8">
  <div class="mb-6">
    <h1
      class="font-bold text-text-heading text-center text-4xl md:text-5xl pt-4 pb-2 overflow-hidden"
    >
      <span
        class="
            bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:90%_40%]
            from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue
        "
      >
        Thomas Vanausloos
      </span>
    </h1>
    <p class="text-base pb-4 text-center">Web Developer. Angular enthousiast. Husband & father.</p>
  </div>
  <div>
    <p class="mb-5">
      Hello! Welcome to my personal website! Here you can find:
      <ul>
        <li>More information about who I am, what I do and how we can work together.</li>
        <li>My personal <a href={`${SITE_URL}/blog`}>blog</a> and notes. Ranging from technical topics to random insights I have had over the years.</li>
        <li>Information about my <a href={`${SITE_URL}/education-and-skills`}>education, skills</a> and my<a href={`${SITE_URL}/projects`}> professional carreer</a>.</li>
      </ul>
    </p>
  </div>
</section>
