---
const { technology } = Astro.props;
---

<technology-logo class="lg:hover:scale-150 max-lg:hover:scale-125 transition-transform">
  <img
    src={technology.logoUrl}
    class="lg:w-14 lg:h-14 max-lg:w-12 max-lg:h-12 "
    data-technology-logo
  />
  <p class="hide-description pt-0 text-center lg:text-[10px] max-lg:text-[8px] text-slate-500" data-technology-description>{technology.description}</p>
</technology-logo>
<script>
  export class TechnologyLogo extends HTMLElement {
    constructor() {
      super();
      const logo = this.querySelector("[data-technology-logo]");
      const description = this.querySelector("[data-technology-description]");

      logo?.addEventListener("mouseover", () => {
        description?.classList.add("show-description")
        description?.classList.remove("hide-description")
      });
      logo?.addEventListener("mouseleave", () => {
        description?.classList.add("hide-description")
        description?.classList.remove("show-description")
      });
    }
  }
  customElements.define("technology-logo", TechnologyLogo);
</script>
<style>
  .hide-description {
    visibility: hidden;
    /* height: 0; */
  }
  .show-description {
    visibility: visible;
    height: auto;
  }
</style>
