---
import { readAll } from "../lib/markdoc/read";
import { techStack } from "../lib/markdoc/frontmatter.schema";
import SubTitle from "./SubTitle.astro";
import TechnologyLogo from "../components/TechnologyLogo.astro"

const technologies = await readAll({
  directory: "tech-stack",
  frontmatterSchema: techStack,
});

const sortedtechnologies = technologies.sort(
  (a, b) => a.frontmatter.order - b.frontmatter.order
);

---
<SubTitle subtitle="Tech stack" />
<div class="flex flex-row gap-6 flex-wrap mb-4 mt-6">
    {
      sortedtechnologies
        .filter(
          (technologies) => technologies.frontmatter.category === "frontend"
        )
        .flatMap((frontendTech) => frontendTech.frontmatter.technologies)
        .map((tech) => {
          return <TechnologyLogo technology={tech}></TechnologyLogo>;
        })
    }
  </div>
  <div class="flex flex-row gap-6 flex-wrap mb-4">
    {
      sortedtechnologies
        .filter(
          (technologies) => technologies.frontmatter.category === "backend"
        )
        .flatMap((frontendTech) => frontendTech.frontmatter.technologies)
        .map((tech) => {
          return <TechnologyLogo technology={tech}></TechnologyLogo>;
        })
    }
  </div>
  <div class="flex flex-row gap-6 flex-wrap mb-4">
    {
      sortedtechnologies
        .filter(
          (technologies) => technologies.frontmatter.category === "infra"
        )
        .flatMap((frontendTech) => frontendTech.frontmatter.technologies)
        .map((tech) => {
          return <TechnologyLogo technology={tech}></TechnologyLogo>;
        })
    }
  </div>
  <div class="flex flex-row gap-6 flex-wrap mb-4">
    {
      sortedtechnologies
        .filter(
          (technologies) => technologies.frontmatter.category === "databases"
        )
        .flatMap((frontendTech) => frontendTech.frontmatter.technologies)
        .map((tech) => {
          return <TechnologyLogo technology={tech}></TechnologyLogo>;
        })
    }
  </div>